<script>(function(h){h.className=h.className.replace(/\bno-js\b/,'js');if(window.matchMedia&&matchMedia('(prefers-reduced-motion: reduce)').matches)h.classList.add('reduced');try{if(sessionStorage.getItem('pl-seen'))h.classList.add('seen');else sessionStorage.setItem('pl-seen','1')}catch(e){h.classList.add('seen')}})(document.documentElement);</script>
<meta name="theme-color" content="#060611">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&amp;family=Oswald:wght@400;500;600;700&amp;display=swap">
<link rel="stylesheet" href="{{root}}assets/css/site.css">
<link rel="icon" href="{{root}}favicon.ico" sizes="16x16 32x32 48x48">
<link rel="icon" type="image/png" sizes="96x96" href="{{root}}assets/img/brand/favicon-96.png">
<link rel="icon" type="image/png" sizes="48x48" href="{{root}}assets/img/brand/favicon-48.png">
<link rel="icon" type="image/png" sizes="32x32" href="{{root}}assets/img/brand/favicon-32.png">
<link rel="apple-touch-icon" href="{{root}}assets/img/brand/apple-touch-icon.png">
<link rel="manifest" href="{{root}}site.webmanifest">
<script src="{{root}}assets/js/vendor/gsap.min.js" defer></script>
<script src="{{root}}assets/js/vendor/ScrollTrigger.min.js" defer></script>
<script src="{{root}}assets/js/vendor/SplitText.min.js" defer></script>
<script src="{{root}}assets/js/site.js" defer></script>
